.maingrande{
    background-color: aqua;
    height: 800px;
}
.mainpequeño{
    background-color: rgb(212, 64, 64);
    height: 300px;
    display:flex;
}
header{
    background-color: rgb(243, 160, 160);
    width: 400px;
    text-align: center;
}
.secciones{
    background-color: rgb(154, 154, 231);
    width: 400px;
    display: flex;
}
.productos{
    background-color: black;
    width: 80px;
    height: 100px;
    margin: 40px;
}
.recursos{
    background-color: black;
    width: 80px;
    height: 100px;
    margin:40px;
}
